<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indexpage</title>
</head>
<body>
    <p>Hi this is index page</p>
    <p>this page is here to show connection with MySQL database server</p>
    <p>click here to check it out!</p>
    <a href="books">move to books page</a>
</body>
</html>